body {
    font-family: Helvetica ;
    font-weight: bold;
    padding: 5rem 4rem 4rem 4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

.heading {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px #ffffff;
    padding-left: 4rem;
}
.heading:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
  }

.nav-items > ul {
    list-style-type: none;
    display: flex;
    font-weight: lighter;
    padding-right: 6rem;
}

.nav-items > ul > .tags {
    padding: 20px; 
    text-decoration: none;
    color: black;
}

.nav-items > ul :hover {
    transform: scale(1.1);
}

.search-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover ;
}

.shimmer-card {
    padding-top: 5rem;
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }

.search-error{
    padding-top: 5rem;
    font-weight: lighter;
}

.menu {
    display: flex;
}

.menu .menu-items {
    padding-top: .25rem;
}

.menu .restaurant-logo{
    min-width: 700px;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
}